<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MongoDB Breads (Browse, Read, Edit, Add, Delete, Sort)</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="/vendor/fontawesome/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container">